body{
    margin-left: 7em;
    margin-right: 7em;
    background-image: url("back.JPG");
    background-color: rgb(123, 168, 207);
}
.container{
    width: 100%;
    background-image: url("https://www.google.com/search?q=darkish+background&source=lnms&tbm=isch&sa=X&sqi=2&ved=2ahUKEwjl56CprZr2AhXoI7kGHb50AfEQ_AUoAXoECAEQAw&biw=1294&bih=668&dpr=1#imgrc=usCrVsY14Z43PM");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-size: 17px;
    font-weight: 100;
    background-color: aliceblue;
}
.head{
    width: 100%;
}
/* .container :hover{
    color: red;
} */
.nav-link :hover{
    color: rgb(3, 138, 138);
    background-color: rgb(221, 214, 214);

}
/* @media screen and (max-width: 600px) {
    #portfolio img{
        width: 100%;
        height: 100em;
    }
} */
@media screen and (min-width: 400px) {
    #portfolio img{
        width: 100%;
        height: 52vh;
    } 
}
#portfolio h5, p{
  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-size: 27px;
    text-emphasis: bold;
    text-decoration: solid;
    font-weight: 100;
    color: aqua;
    /* background-color: aliceblue; */
}
#portfolio p{
  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    text-emphasis: bold;
    text-decoration: solid;
    font-weight: 100;
    color: aqua;
    /* background-color: aliceblue; */
}
#portfolio{
    width: max-content;
    width: 100%;
}
.one{
    color: brown;
}
#projects{
    width: max-content;
    width: 100%;
}

@media screen and (min-width: 400px) {
    #projects h1{
        color: wheat;
        text-align: center;
        font-size: 1.2em;
        text-decoration: underline;
        /* border: 1px solid yellow; */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
.col{
    width: 100%;
    /* border: 1px solid rebeccapurple; */
}
#projects img{
    text-align: center;
    width: 100%;
    height: 200px;
    /* align-items: center; */
    /* margin-left: 5em; */
}
#projects button{
    text-align: center;
    align-items: center;
    color: red;
    margin-left: 6em;
    border-radius: 9px;
}
#projects button:hover{
    background-color: rgb(0, 204, 255);
    color: rgb(13, 9, 17);
    border: 4px solid chartreuse;
    border-radius: 30%;
}
#a{
    text-align: center;
    color: rgb(63, 50, 25);
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#b{
    text-align: center;
    color: rgb(219, 30, 30);
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#icon{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
#About h1{
    color: black;
    text-align: center;
    font-size: 16px;
    border: 2px solid rgb(196, 228, 196);
    background-color: azure;
    border-radius: 39%;
}


