body{
    background-image: url("back.JPG");
    background-color: rgb(123, 168, 207);
}
.container{
    background-image: url("https://www.google.com/search?q=darkish+background&source=lnms&tbm=isch&sa=X&sqi=2&ved=2ahUKEwjl56CprZr2AhXoI7kGHb50AfEQ_AUoAXoECAEQAw&biw=1294&bih=668&dpr=1#imgrc=usCrVsY14Z43PM");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-size: 17px;
    font-weight: 100;
    background-color: aliceblue;
}
/* .container :hover{
    color: red;
} */
.nav-link :hover{
    color: rgb(3, 138, 138);
    background-color: rgb(221, 214, 214);

}
.portfolio{
    margin-left: 3.4em;
    margin-right: 3.3em;
}
@media screen and (min-width: 700px) {
    .portfolio{
        margin-left: 4.4em;
        margin-right: 4.3em;
        height: 50%;
    }
}

